@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,900&display=swap&subset=cyrillic');

$main-font-regular: 'Source Sans Pro', sans-serif;
$main-font-bold: 'Source Sans Pro', sans-serif;

$bg-grey: #f1f2f2;
$dark-grey: #ebebec;
$bg-yellow: #ffca38;

$selection: #f2673e;
$selection-text: white;

